<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<div class="card">
  <h1>Hệ thống bầu cử trực tuyến</h1>
  <p>Chào mừng bạn đến hệ thống bầu cử</p>
  <a class="btn" href="/elections">Bắt đầu bầu cử</a>
</div>

<%- include('layouts/footer') %>